<script>
const urlParams = new URLSearchParams(location.search)
var room_idd = urlParams.get('room_id');
console.log(urlParams.getAll('roomid'))


</script>
<body class="login-page">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6 col-lg-5">
                <div class="card card-body shadow login-card">
                    <h5 class="mb-0 text-center">Enter name</h5>
             <!--       <small class="text-muted">Enter your email and password login</small>   -->
                    <hr>
                    <form action="/joining" method="GET">
                    <div class="form-group">
                        <input type="text" placeholder="Enter name" class="form-control bg-light"  name="room_id" value="{{data.roomid}}" hidden/>
                        <label>Name</label>
                        <input type="text" placeholder="Enter name" class="form-control bg-light"  name="name"/>
                    </div>
                    
                    <input type="submit" class="btn btn-primary btn-block" name="Join" value="join"></input>
                </form>
                </div>
            </div>
        </div>
    </div>
